# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
public/

# Environment variables
.env.local
.env.*.local

# Firebase caches
.firebase/
firebase-debug.log
firestore-debug.log

# IDE & OS files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
