rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    // Config & Settings
    match /artifacts/{appId}/public/config {
      allow read: if true;
      allow write: if isAuthenticated();
    }
    
    // App Data Collections (Users, Exams, Grades, Notes, Attendance, Events)
    match /artifacts/{appId}/public/data/{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
